$white: #ffffff;
$black: #000;
$black-3: #222222;
$black-14: rgba(0, 0, 0, 0.5);
$black-35: rgba(151, 151, 151, 0.5);
$blue: #2269c9;
$gray-1: #ebebeb;
$gray-10: #5f676f;
$gray-13: #f4f5f7;
$gray-22: #d3d3d3;
$gray-24: #c1c1c1;
$gray-27: #656970;
$gray-80: #dadada;
$gray-10:#5f676f;
$red-16: #de0939;
$red-17: #de1947;
$red-18: #bb2c23;
$red-19: #DD1D3B;
$orange-1: #ec652b;
$red-3: #cc1d39;
$black-15: rgba(0, 0, 0, 0.08);
$blue-2: #0576c8;
$gray-7: #777a80;
$gray: #4d4f53;
$red-15: #ff480a;
$gray-112: #ededf1;
$gray-31: #e3e3e3;
